<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studymsl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-sg1-031.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>studymsl</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$studymsl</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="studymsl_dbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=awsmysql.cy671tej4dev.ap-southeast-1.rds.amazonaws.com;Initial Catalog=studymsl_db;Persist Security Info=True;User ID=studymsl;Password=studymsl123" Name="server=awsmysql.cy671tej4dev.ap-southeast-1.rds.amazonaws.com;user id=studymsl;password=studymsl123;persistsecurityinfo=True;database=studymsl_db" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StudyMSL_W.Models.studymsl_dbEntities, StudyMSL_W" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AWSMySQL" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=awsmysql.cy671tej4dev.ap-southeast-1.rds.amazonaws.com;user id=studymsl;password=studymsl123;persistsecurityinfo=True;database=studymsl_db" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AWSMySQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=awsmysql.cy671tej4dev.ap-southeast-1.rds.amazonaws.com;user id=studymsl;password=studymsl123;persistsecurityinfo=True;database=studymsl_db" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AWSMySQL-Web.config Connection String" />
    <MSDeployParameterValue Include="studymsl_dbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.StudyMSLModel.csdl|res://*/Models.StudyMSLModel.ssdl|res://*/Models.StudyMSLModel.msl;provider=MySql.Data.MySqlClient;provider connection string="server=awsmysql.cy671tej4dev.ap-southeast-1.rds.amazonaws.com;user id=studymsl;password=studymsl123;persistsecurityinfo=True;database=studymsl_db"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>