/*------------------------------------------------------*/
/*Margin = TRBL*/
.hamcontainer1 {
    display: inline-block;
    cursor: pointer;
    /*margin-right: 20px;*/ /*right-side<--*/
    /*margin-left: 20px;*/ /*-->left-side*/
    position: fixed;
    right: 0; /*right-side<--*/
    /*left: 0;*/ /*-->left-side*/
    /*top: 10px;*/
}

/* .hamcontainer:hover #hambar1, .hamcontainer:hover #hambar2, .hamcontainer:hover #hambar3
{
	background-color:white;
}*/

#hambar1 
{
    /*margin-top: 0px;*/
}

#hambar2, #hambar3 
{
    margin: 6px 0;
}

#hambar1, #hambar2, #hambar3 {
    width: 35px;
    height: 5px;
    /*background-color: #333;*/
    /*background-color: #818181;*/ /*Greyish*/
    background-color: #FFFFFF; /*White*/
    /*margin: 6px 0;*/
    transition: 0.4s;
}

/* Rotate first bar */
.change #hambar1 
{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change #hambar2
{
    opacity: 0;
}

/* Rotate last bar */
.change #hambar3 
{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*------------------------------------------------------*/


/*------------------------------------------------------*/
/* Navigation Header Bar */
.topnav {
    /*position: relative !important;*/
    background-color: #1976D2; /*StudyMSL Blue*/
    overflow: hidden;
}
    .topnav a {
        float: left;
        color: #FFFFFF;
        text-align: center !important;
        text-decoration: none;
        /*font-size: 17px;*/
    }

/* Left-aligned section inside the top navigation */
.topnav-left {

}
    .topnav-left a {
        margin-left: 1rem;
        font-weight: bold;
    }

/* Centered section inside the top navigation */
.topnav-centered {
    float: none !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
    .topnav-centered a {
        margin: auto 5px;
        padding: 0 5px;
    }
        .topnav-centered a:hover {
            background-color: #F1588C; /*StudyMSL Pink*/
        }

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right !important;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    text-align: center;
    /*background-color: aqua;*/
}
    .topnav-right .acontainer {
        /*font-weight: bold;*/
        float: left !important;
        margin-right: 0.5rem;
        /*background-color: red;*/
    }

    .topnav-right .hamcontainer {
        float: right !important;
        margin-right: 1rem;
        color: #FFFFFF;
        transform: translateY(40%) !important;
        /*background-color: green;*/
    }

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
/*@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}*/
/*------------------------------------------------------*/


/*------------------------------------------------------*/
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    /*left: 0;*/ /*-->left-side*/
    right: 0; /*right-side<--*/
    /*background-color: #111;*/ /* Black*/
    background-color: #2E2E2E; /*StudyMSL Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #FFFFFF; /*White*/
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            /*color: #f1f1f1;*/ /*Cream*/
            /*color: #818181;*/ /*Greyish*/
            color: #F1588C; /*StudyMSL Pink*/
        }

/* Position and style the close button (top right corner) */
/* .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    /*Trigger using navigation.js*/
    transition: margin-right .5s; /*right-side<--*/
    /*transition: margin-left .5s;*/ /*-->left-side*/
    /*padding: 20px;*/
}

    #main > #header > nav > .abackground:hover {
        background-color: #F1588C; /*StudyMSL Pink*/
    }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
/*------------------------------------------------------*/